:root {
  --blue: #1966f7;
  --purple: #b9a9fb;
  --turquoise: #6dd3c2;
  --pink: #ffa6d6;
  --lightgreen: #dbff73;
  --skyblue: #bce6ec;
  --white: #f7fbfa;
  --black: #000000;
  --neutral-08: #010101;
  --neutral-07: #202025;
  --neutral-06: #555555;
  --neutral-05: #686a6c;
  --neutral-04: #a6aead;
  --neutral-03: #e1e2e2;
  --neutral-02: #f1f4f4;
  --neutral-01: #f7fbfa;
  --font-families-inter: Inter;
  --line-heights-0: 104;
  --line-heights-1: 80;
  --line-heights-2: 64;
  --line-heights-3: 48;
  --line-heights-4: 40;
  --line-heights-5: 32;
  --line-heights-6: 36;
  --line-heights-7: 24;
  --line-heights-8: 20;
  --font-weights-inter-0: Extra Bold;
  --font-weights-inter-1: Bold;
  --font-weights-inter-2: Medium;
  --font-size-0: 14px;
  --font-size-1: 16px;
  --font-size-2: 18px;
  --font-size-3: 20px;
  --font-size-4: 24px;
  --font-size-5: 32px;
  --font-size-6: 48px;
  --font-size-7: 64px;
  --font-size-8: 80px;
  --font-size-9: 104px;
  --letter-spacing-0: 0%;
  --letter-spacing-1: -2%;
  --letter-spacing-2: -1%;
  --paragraph-spacing-0: 0;
  --paragraph-spacing-1: 16;
  --hero: [object Object];
  --h1: [object Object];
  --h2: [object Object];
  --h3: [object Object];
  --h4: [object Object];
  --body1: [object Object];
  --body2: [object Object];
  --title: [object Object];
  --base: [object Object];
  --caption: [object Object];
  --text-case-none: none;
  --text-decoration-none: none;
  --paragraph-indent-0: 0px;
}
